<div id="footer" class="footer" role="contentinfo">
    <div id="fat-footer-container" class="container">

        <div class="row">
            <div class="col-sm-6 col-md-3" aria-labelledby="governance">
                <h1 id="footer-menu-governance">Governance</h1>
                <p><a id="footer-link-policies" style="color:white" href="https://staff.wrdsb.ca/board-policies/">Policies</a></p>
                <p><a id="footer-link-procedures" style="color:white" href="https://staff.wrdsb.ca/board-procedures/">Procedures</a></p>
                <p><a id="footer-link-protocols" style="color:white" href="https://staff.wrdsb.ca/board-protocols/">Protocols/Guidelines</a></p>
                <p><a id="footer-link-board-forms" style="color:white" href="https://staff.wrdsb.ca/board-forms/">Board Forms</a></p>
                <p><a id="footer-link-all-staff-notices" style="color:white" href="https://staff.wrdsb.ca/all-staff-notices/">All Staff Notices</a></p>
            </div>

            <div class="col-sm-6 col-md-3" aria-labelledby="g suite">
                <h1 id="footer-menu-g-suite">G Suite</h1>
                <p><a id="footer-link-google-mail" style="color:white" target="_blank" href="https://mail.google.com">Gmail</a></p>
                <p><a id="footer-link-google-calendar" style="color:white" target="_blank" href="https://calendar.google.com">Calendar</a></p>
                <p><a id="footer-link-google-drive" style="color:white" target="_blank" href="https://drive.google.com">Drive</a></p>
                <p><a id="footer-link-google-groups" style="color:white" target="_blank" href="https://groups.google.com">Groups</a></p>
                <p><a id="footer-link-g-suite-more" style="color:white" href="https://staff.wrdsb.ca/g-suite/">More...</a></p>
            </div>

            <div class="col-sm-6 col-md-3" aria-labelledby="">
                <h1 id="footer-menu-help">Help!</h1>
                <p><a id="footer-link-sds" style="color:white" target="_blank" href="https://msdsmanagement.msdsonline.com/company/ccc3134c-662d-499b-862d-39480a4688ed/">SDS Quick Search (MSDS)</a></p>
                <p><a id="footer-link-osbie" style="color:white" target="_blank" href="https://osbie.wrdsb.ca/">OSBIE Incident Reporting System</a></p>
                <p><a id="footer-link-help-desk" style="color:white" target="_blank" href="https://itservicedesk.wrdsb.ca/">ITService Desk (Help Desk)</a></p>
            </div>

            <div class="col-sm-6 col-md-3" aria-labelledby="">
                <h1 id="footer-menu-it-help">IT Help</h1>
                <p><a id="footer-link-password-reset" style="color:white" target="_blank" href="https://mypassword.wrdsb.ca/">Password Reset</a></p>
                <p><a id="footer-link-itservicedesk" style="color:white" target="_blank" href="https://itservicedesk.wrdsb.ca/">ITService Desk (Help Desk)</a></p>
                <p><a id="footer-link-wifi-docs" style="color:white" target="_blank" href="https://wifidocs.wrdsb.ca/">Wifi Docs</a></p>
                <p><a id="footer-link-it-help-more" style="color:white" href="https://staff.wrdsb.ca/its/">More...</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-3" aria-labelledby="">
                <h1 id="footer-menu-teachers">For Teachers</h1>
                <p><a id="footer-link-web-attendance" style="color:white" target="_blank" href="https://etrillium.wrdsb.ca/twebschool/TWEBATT/ptEntry.action?moduleId=TWEBATT">Trillium Web Attendance</a></p>
                <p><a id="footer-link-twea" style="color:white" target="_blank" href="https://etrillium.wrdsb.ca/trillium/">TWEA</a></p>
                <p><a id="footer-link-s4s" style="color:white" target="_blank" href="https://s4s.wrdsb.ca/">Support 4 Students (S4S)</a></p>
                <p><a id="footer-link-compass" style="color:white" target="_blank" href="https://compass.wrdsb.ca/portal/">Compass for Success (enCompass)</a></p>
                <p><a id="footer-link-d2l" style="color:white" target="_blank" href="http://wrdsb.elearningontario.ca/">Virtual Learning Environment (VLE/D2L)</a></p>
                <p><a id="footer-link-esl-tracker" style="color:white" target="_blank" href="https://etrillium.wrdsb.ca/twebboard/TWEBESL">ESL Tracker</a></p>
            </div>

            <div class="col-sm-6 col-md-3" aria-labelledby="">
                <h1 id="footer-menu-school-staff">For School Staff</h1>
                <p><a id="footer-link-trillium-report-centre" style="color:white" target="_blank" href="http://ec-oraapp1.wrdsb.ca:8888/forms/frmservlet?config=TRRP">Trillium Report Centre</a></p>
                <p><a id="footer-link-school-day" style="color:white" target="_blank" href="https://www.school-day.com/">School Day</a></p>
                <p><a id="footer-link-ssr" style="color:white" href="https://staff.wrdsb.ca/eguide/">Single Source Resource (eGuide)</a></p>
                <p><a id="footer-link-translations" style="color:white" href="https://staff.wrdsb.ca/resources6/translations/">Translations</a></p>
            </div>

            <div class="col-sm-6 col-md-3" aria-labelledby="">
                <h1 id="footer-menu-online-tools">Online Tools</h1>
                <p><a id="footer-link-staff-directory" style="color:white" href="https://staff.wrdsb.ca/directory/">Staff Directory</a></p>
                <p><a id="footer-link-calendars" style="color:white" href="https://staff.wrdsb.ca/calendar/">Calendars</a></p>
                <p><a id="footer-link-ess" style="color:white" target="_blank" href="https://ess.wrdsb.ca">Employee Self-Service Portal</a></p>
                <p><a id="footer-link-mental-health" style="color:white" target="_blank" href="https://staff.wrdsb.ca/mental-health/">Mental Health</a></p>
                <p><a id="footer-link-online-tools-more" style="color:white" href="https://staff.wrdsb.ca/online-tools/">More...</a></p>
            </div>

            <div class="col-sm-6 col-md-3" aria-labelledby="">
                <h1 id="footer-menu-training">Training and PD</h1>
                <p><a id="footer-link-oetc" style="color:white" target="_blank" href="https://training.wrdsb.ca">Online Employee Training Centre</a></p>
                <p><a id="footer-link-pd-place" style="color:white" target="_blank" href="http://wrdsb.pdplace.com/">PD Place</a></p>
                <p><a id="footer-link-equity" style="color:white" href="">Equity and Inclusion</a></p>
                <p><a id="footer-link-ntip" style="color:white" href="https://staff.wrdsb.ca/ntip/">New Teacher Induction Program (NTIP)</a></p>
                <p><a id="footer-link-training-more" style="color:white" href="https://staff.wrdsb.ca/training/">More...</a></p>
            </div>
        </div>

    </div>
</div>




<div class="container" id="loginbar" role="navigation" aria_labelledby="adminbar">
    <p id="adminbar" class="copyright" style="text-align: center;">
        @Html.ActionLink("Log off", "LogOff", "Account")
    </p>
</div>