    <!-- start footer -->
<div class="footer" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <!-- address -->
                <address>
                    <h1>Waterloo Region District School Board</h1>
                    <p>
                        51 Ardelt Avenue<br />
                        Kitchener, ON N2C 2R5
                    </p>

                    <p>
                        Switchboard: 519-570-0003<br />
                        <a href="http://www.wrdsb.ca/about-the-wrdsb/contact/">Contact Information</a>
                    </p>

                    <p><a href="http://www.wrdsb.ca/about-the-wrdsb/contact/website-feedback/">Website Feedback Form</a></p>
                </address>
            </div>
            <div class="col-sm-6 col-md-3">
                <h1>Need Help?</h1>
                @if(@System.Web.Configuration.WebConfigurationManager.AppSettings["isInternal"] == "true")
                {
                <!-- for internal applications or administrative screens
                make sure you link to the direct link for a ticket -->
                <p><a href="@System.Web.Configuration.WebConfigurationManager.AppSettings["servicedesk"].ToString()" target="_blank">Questions? Requests? ITService Desk!</a></p>
                }

                @if(@System.Web.Configuration.WebConfigurationManager.AppSettings["isInternal"] == "false")
                {
                <!-- for public facing applications or where help doesn't come through ITService Desk -->
                <p>Instructions on how to get help, e.g.: "Call your Child's School directly to do whatever you need to do.", or links to help pages in the application.</p>
                <p>
                    Person or Role Who Will Help<br />
                    <a href="mailto:help@wrdsb.on.ca">Email for Help</a><br />
                    Phone: 519-555-1212x0000
                </p>
                }
            </div>

            <!-- for internal applications or administrative screens
            make sure you link to the direct link for a ticket -->
            @if(@System.Web.Configuration.WebConfigurationManager.AppSettings["isInternal"] == "true")
            {
            <div class="col-sm-6 col-md-3">
                <h1>Application Information</h1>
                <h2>Owner</h2>
                <p>@System.Web.Configuration.WebConfigurationManager.AppSettings["owner"].ToString()</p>
                <h2>Developer</h2>
                <p>@System.Web.Configuration.WebConfigurationManager.AppSettings["developer"].ToString()</p>
            </div>
            }
            <div class="col-sm-12 col-md-3">
                <!--Space for more footer columns -->
            </div>
        </div>
    </div>
</div>
