<title>@System.Web.Configuration.WebConfigurationManager.AppSettings["title"].ToString()</title>

<!--<link href="https://s3.amazonaws.com/wrdsb-ui-assets/intranet/2/css/style.css" rel="stylesheet" media="all" />-->


<link href="https://s3.amazonaws.com/wrdsb-ui-assets/intranet/master.css" rel="stylesheet" />
