@model IEnumerable<DotNetThemeMVC.Models.RoleViewModels>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Role Management</h1>
<p>
    Manage which Roles are available for administrators to assign to board users.
</p>
<div style="padding-top: 50px;">
    <table class="table">
        <tr>
            <th>
                Role Name
            </th>
            <th>
                Manage Roles @Html.ActionLink("(+)", "Create", null, htmlAttributes: new { @style = "color:green" })
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-center">
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-default"}) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-default"})
                </td>
            </tr>
        }

    </table>
</div>