<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="version" value="Beta - Test"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <sessionState timeout="20"></sessionState>
    <customErrors mode="Off"/>
    <httpRuntime/>
    <authentication mode="Forms">
      <forms loginUrl="~/login.aspx"
             name="CASLAUTH"
             timeout="20"
             path="/">
      </forms>
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
  </system.web>
</configuration>