@{
    Layout = "~/Views/Shared/_LoginTheme.cshtml";
    ViewBag.Title = "Confirm Email";
}

<div class="login">
    <div id="logo">
        <img src="https://s3.amazonaws.com/wrdsb-theme/images/WRDSB_Logo.svg" />
    </div>
    <div>
        <p>
            Please check your email. Before you can log in you must click or tap the link in the confirmation email to verify your email address.
        </p>
        <br />
        <b>Note:</b>
        <p>
            If you did not receive a confirmation email, please attempt to sign in using your email address to resend the confirmation email.
            You must confirm your email address to proceed.
        </p>
    </div>
</div>