@{
    Layout = "~/Views/Shared/_LoginTheme.cshtml";
    ViewBag.Title = "Reset password confirmation";
}
<div class="login">
    <div id="logo">
        <img src="https://s3.amazonaws.com/wrdsb-theme/images/WRDSB_Logo.svg" />
    </div>
    <div>
        <p>
            Your password has been reset. Please @Html.ActionLink("log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) to register your child(ren).
        </p>
    </div>
</div>
